p{
    background-color: darkmagenta;
}
h2{
    color: chartreuse;
    text-align: center;
    text-shadow: 5px 5px 5px;
    text-decoration: aqua;
    text-decoration-style: solid;
    text-decoration-color: fuchsia;
}