h1{
    text-size-adjust: 200;
    color: crimson;
    text-align: center;
    text-shadow: 5px 5px 5px;
    text-shadow: chartreuse;
    text-decoration: dotted;
    text-decoration: dashed;
    text-decoration-color: aqua;
}
